{% extends "base.html" %}
{% load staticfiles %}

{% block content_block %}

<div class="intro" style="">
  <img align="right" class="intro-img" src="{% static "images/intro1.jpg" %}" alt="computer"/>
  <p class="intro-heading">Vidhyo Welcomes You</p>
  <p class="intro-sub-heading">Your Needs + Our Touch</p>
  <p class="intro-context">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
</div>

<div class="flexbox" id="skills-scroll">
<h1 align="center">Skills</h1>
<p class="flex-sub-header">The technologies we offer you</p>
<div class="flex-container skills-top" >
            <div class="flex-inner-button ">
                <button class="flex-left">&#10094;</button>
            </div>
            <div class="flex-inner-div">
                <img src="{% static "images/html.jpg" %}" alt="html">
                <h3 align="center">HTML</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="flex-inner-div">
                <img src="{% static "images/css.jpg" %}" alt="html">
                <h3 align="center">CSS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="flex-inner-div">
                <img src="{% static "images/js.jpg" %}" alt="javascript">
                <h3 align="center">JavaScript</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="flex-inner-button">
                <button class="flex-right">&#10095;</button>
            </div>

        </div>

        <div class="flex-container skills-bottom" style="display: none;">
            <div class="flex-inner-button ">
                <button class="flex-left">&#10094;</button>
            </div>
            <div class="flex-inner-div" style="">
                <img src="{% static "images/js.jpg" %}" alt="javascript">
                <h3 align="center">JavaScript</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="flex-inner-div">
                <img src="{% static "images/jq.png" %}" alt="jquery">
                <h3 align="center">jQuery</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="flex-inner-div">
                <img src="{% static "images/django.jpg" %}" alt="jquery">
                <h3 align="center">Django</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="flex-inner-button">
                <button class="flex-right">&#10095;</button>
            </div>
        </div>
</div>


<div class="contact" id="contact-scroll">
  <div class="contact-heading-block">
    <p class="contact-heading">Contact Us</p>
  </div>
  <div class="contact-fields">
    <form class="contact-form" id="contact-form-action" method="post">
      {% csrf_token %}
      <input class="half-tb" type="text" name="name" id="c-name" placeholder="Name" required >
      <input class="half-tb email" type="email" name="email" id="c-email" placeholder="Email" required>
      <!-- <br> -->
      <input class="full-tb" type="text" name="subject" id="c-subject"  placeholder="Subject" required>
      <!-- <br> -->
      <input class="full-tb" type="text" name="phone" id="c-phone" placeholder="Phone" required>
      <!-- <br> -->
      <input class="full-tb" type="text" name="address" id="c-address" placeholder="Address"  required>
      <br><br>
      <textarea class="full-tb" rows="5" cols="5" name="c-message" id="c-message" placeholder="Message" style="resize:none;" required></textarea>
      <!-- <br> -->
      <!-- <input type="submit" name="c-button" class="submit-btn" id="c-submit" value="Submit"> -->
      <button class="submit-btn" type="button" id="c-submit" name="c-button">Submit</button>
      <br>
      <img class="ajaxProgress" src="{% static 'images/ajax-loader.gif' %}" alt="" style="margin-left:40%;display:none;">
      <img class="ajaxProgressMob" src="{% static 'images/ajax-loader-mob.gif' %}" alt="" style="margin-left:45%;height:80px;display:none">
      <p class="message"></p>
    </form>
  </div>
  <div class="clear" style="height:0px;"></div>
</div>



<div class="footer-img-block" style="">
  <img src="{% static "images/footer-img.jpg" %}" alt="" style="">
</div>

<div class="subscribe" id="subscribe-scroll">
  <form class="subscribe-form" method="post">
    {% csrf_token %}
    <p class="subscribe-heading">Subscribe</p>
    <input type="email" class="s-email" id="s-emailing" name="subs-email" value="" placeholder="Email">
    <br><br>
    <button type="button" class="subscribe-btn" id="s-submit" name="s-button">Sign Up</button>
    <img class="SajaxProgress" src="{% static 'images/ajax-loader.gif' %}" alt="" style="margin-left:40%;display:none;">
    <img class="SajaxProgressMob" src="{% static 'images/ajax-loader-mob.gif' %}" alt="" style="margin-left:45%;height:80px;display:none">
    <p class="subscribe-message" style="text-align:center"></p>
  </form>
</div>

{% endblock %}
